.vs-bg-bisque {
	background-color: bisque;
}

.vs-bg-custom {
	background-image: url('https://png.pngtree.com/thumb_back/fw800/back_our/20190620/ourmid/pngtree-gourmet-food-pizza-background-template-image_160185.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.vs-fixed-height-100 {
	height: 100vh;
	overflow: hidden
}

.vs-fixed-height-80 {
	height: 88vh;
}

.vs-fixed-height-60 {
	height: 60vh;
	overflow: auto;
}

.vs-overflow {
	overflow-y: auto;
}

.vs-border {
	border: 5px solid black;
	border-radius: 24px;
}

.vs-card-border {
	border-top-left-radius: 18px;
	border-top-right-radius: 18px;
	max-height: 428px;
}

.vs-index-img-maxH {
	max-height: 83px;
}

.vs-form-padding {
	padding-top: 100px;
}